.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 40px 0;
}

section.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 12px;
    border: 1px solid rgb(138, 96, 60);
    background: rgb(226, 173, 126);
}

.out-of-stock {
    filter: grayscale(0.6);
}

.out-of-stock-message {
    position: absolute;
    background: #ffffffa4;
    padding: 15px;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    user-select: none;
}

section.product-card h2 {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 30px;
    --webkit-line-clamp: 1;
    overflow: hidden;
    white-space: nowrap;
}

section.product-card img {
    width: 95%;
}

section.product-card .description {
    height: 50px;
    font-size: 17px;
}

section.product-card .details p {
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-style: italic;
    font-size: 14px;
}

section.product-card .details p span {
    font-weight: bold;
}

section.product-card .cost {
    text-align: right;
    font-size: 20px;
    margin: 16px 0 0;
}

section.product-card .cost span {
    font-size: 22px;
    font-weight: bold;
}

