header,
footer {
    background-color: rgb(197, 145, 100);
    padding: 10px 20px;
}

header {
    border-bottom: 2px solid rgb(138, 96, 60);
}

header h1,
header h3 {
    margin: 8px 0;
}

footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgb(138, 96, 60);
}

footer a#email,
footer a.main-link {
    font-size: 18px;
    margin: 16px 0;
}

footer p {
    display: flex;
    align-items: center;
}

.header-link-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-link {
    font-weight: 700;
    color: #246029;
    display: inline-block;
    padding: 6px;
    background-color: #303f323a;
    border-radius: 4px;
}

.main-link:hover {
    color: #318137;
    background-color: #536d574f;
}

.main-link:active {
    color: #00ff15;
    background-color: #536d574f;
}

.main-link.login-btn {
    background: #2b533062;
    padding: 6px 16px;
    border: 1px solid #246029;
    border-radius: 8px;
}

.main-link.login-btn:hover {
    color: #00ff15;
    background: #17301a71;
}

.user {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

.user-profile {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 8px;

    background: #9c665f;
    border: 2px solid #502e2e;
    border-radius: 50%;
    transition: 0.2s;
}

.default {
    width: 48px;
    height: 48px;
}

.user-profile.default span {
    font-size: 22px;
}

.big {
    width: 150px;
    height: 150px;
}

.user-profile.big span {
    font-size: 88px;
}

.user-profile:hover {
    background: #7e514c;
    border: 2px solid #502e2e;
}

.user-profile span {
    display: block;
    font-weight: bold;
    font-size: 22px;
}

.profile-dropdown-content {
    display: none;
    position: absolute;
    width: 130px;
    padding: 12px 16px;
    top: 105%;
    right: 0;

    background: #b6796fb2;
    border: 1px solid #502e2ea6;
    z-index: 1;
}

.user-profile:hover .profile-dropdown-content {
    display: block;
}

.dropdown-links {
    display: flex;
    flex-flow: column;
}
