.user-edit-content {
    display: grid;
    grid-template-columns: 1fr 9fr;
    gap: 40px;
    padding: 30px 0;
}

.user-edit-content .profile-links {
    display: flex;
    flex-flow: column;
    gap: 16px;
    margin: 10px 10px 0 20px;
}

.user-edit-content form {
    display: flex;
    flex-flow: column;
    gap: 16px;
}

.user-edit-content form label {
    font-size: 16px;
    font-weight: bold;
}

.user-edit-content form input,
.deletion-form form input {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input.invalid-field {
    border: none;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, rgb(138, 60, 60), rgb(240, 158, 158) 88%) 1;
  }

#delete-link {
    color: rgb(129, 0, 0);
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
}

#delete-link:hover {
    color: red;
    font-weight: bold;
}

.deletion-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.delete-confirmation {
    width: 42%;
}

.deletion-form form {
    display: flex;
    flex-flow: column;
    border: 2px solid rgb(138, 96, 60);
    border-radius: 16px;
    padding: 30px 25px 15px;
}
